.chat
  .header
    .left-header
      .left-header__title
        sample
      %ul.left-header__members
        Member：
        %li.member
          seo neko
    .right-header
      .right-header__button
        = link_to edit_group_path(params[:group_id]) do
          Edit
  .messages
    .message
      .upper-message
        .upper-message__user-name SEO
        .upper-message__date 2016/09/21 06:16:55
      .lower-message
        %p.lower-message__content Hello world!
    .message
      .upper-message
        .upper-message__user-name neko
        .upper-message__date 2019/01/16 06:16:55
      .lower-message
        %p.lower-message__content Good bye world!
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
